* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	background-color: #3F6AEB;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
}

header,
main {
	max-width: 767px;
	margin: 0 auto;
}

.dark-theme{
	--primary-color: #000106;
	--secondary-color: #fff;
}

#icon{
	position: absolute;
	top:1rem; right:1rem;
	width:24px;
	background-color: #AC7A72;
	cursor: pointer;
}

h1 {
	font-size: 2rem;
}

.card {
	font-size: 1rem;
	background-color: #1E1A1D;
}

nav {
	background-color: #1E1A1D;
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	border: 1px solid #fff;
}

.active {
	color: yellow;
}

.card1{
    font-size: 1rem;
	background-color: #E5F2C9;
    flex-wrap: wrap;
    grid-column: auto;
    padding: 36px;
	border: #c4e778;
	margin-top: 30px;
	box-shadow: 5px 5px 10px #6f7364;
	margin-right: 50px;
	margin-bottom: 20px;
}

h3{
	
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
}



.card2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: auto;
    padding: 1rem;
	border: #E5F2C9;
    box-shadow: 5px 5px 10px #6f7364;
	margin-bottom: 20px;
	margin-top: 30px;
	font-size: 1rem;
	background-color: #E5F2C9;
	
}



footer{
    background-color: #3F6AEB;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	min-width: 64rem
}
/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}




main img {
	float: right;
	margin: 0 0 1rem 1rem;
	border: 1px solid #333;
	box-shadow: 0 0 15px #777;
}
