@media only screen and (min-width: 64rem) {
    header {
        gap: 3rem;
    }
    .profile-pic {
        width: 15%;
        max-width: 25%;
    }
}

div.allcards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

.card:first-child {
    grid-row: 1 / span 2;
  }
  